version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/frontend'
    schedule:
      interval: 'weekly'
      day: 'sunday'
      time: '04:00'
    open-pull-requests-limit: 10
    groups:
      frontend-deps:
        patterns:
          - '*'

  - package-ecosystem: 'npm'
    directory: '/backend'
    schedule:
      interval: 'weekly'
      day: 'sunday'
      time: '04:00'
    open-pull-requests-limit: 10
    groups:
      backend-deps:
        patterns:
          - '*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'sunday'
      time: '04:00'
